﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Developed By M Abdur Rokib Promy">
    <meta name="author" content="cosmic">
    <meta name="keywords" content="Bootstrap 3, Template, Theme, Responsive, Corporate, Business">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>
        Acme | Home
    </title>

    <!-- Bootstrap core CSS -->
    <link href="../../Template/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Template/css/theme.css" rel="stylesheet">
    <link href="../../Template/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../../Template/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Template/css/flexslider.css" />
    <link href="../../Template/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Template/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


    <!-- Custom styles for this template -->
    <link href="../../Template/css/style.css" rel="stylesheet">
    <link href="../../Template/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../../Template/js/html5shiv.js">
    </script>
    <script src="../../Template/js/respond.min.js">
    </script>
    <![endif]-->
    
    <script src="../../App/js/jquery.min.js"></script>
    <script src="../../App/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../App/js/m2ei18n.js"></script>
    
    <script src="../../App/js/googleAnalytics.js"></script>

    <script src="../../App/js/jquery.signalR-1.0.1.min.js" type="text/javascript"></script>
    <script src="signalr/hubs" type="text/javascript"></script>
    <script src="../../App/js/singleRController.js"></script>
</head>

    <body ng-controller="beforeLoginMasterPageController" id="main" ng-cloak>
        <script data-main="../../App/Pages/PreLoginDM.js" src="../../App/js/require.min.js"></script>
        <!--header start-->
        <header class="head-section">
            <div class="navbar navbar-default navbar-static-top container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                            type="button">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="index.html">
                                  ur
                                  <span>Notice</span>
                              </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="index.html">
                                Home <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="index.html">Home Parallax</a>
                                </li>

                                <li>
                                    <a href="index1.html">Home Seq-slider1</a>
                                </li>

                                <li>
                                    <a href="index2.html">Home Seq-slider2</a>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Feature <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>

                                <li>
                                    <a href="button.html">Buttons</a>
                                </li>

                                <li>
                                    <a href="form.html">Form</a>
                                </li>

                                <li>
                                    <a href="table.html">Table</a>
                                </li>

                                <li class="dropdown-submenu">
                                    <a href="#" tabindex="-1">More options</a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" tabindex="-1">Second level</a>
                                        </li>

                                        <li class="dropdown-submenu">
                                            <a href="#">Even More..</a>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">3rd level</a>
                                                </li>

                                                <li>
                                                    <a href="#">3rd level</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#">Second level</a>
                                        </li>

                                        <li>
                                            <a href="#">Second level</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Pages <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="about.html">About</a>
                                </li>

                                <li>
                                    <a href="404.html">404 page</a>
                                </li>

                                <li>
                                    <a href="career.html">career</a>
                                </li>

                                <li>
                                    <a href="login.html">Login</a>
                                </li>

                                <li>
                                    <a href="registration.html">Registration</a>
                                </li>

                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>

                                <li class="dropdown-submenu">
                                    <a href="#" tabindex="-1">Pricing table</a>

                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu"></li>

                                        <li>
                                            <a href="price-table-one.html">Pricing table one</a>
                                        </li>

                                        <li>
                                            <a href="price-table-two.html">Pricing table two</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="service.html">Service</a>
                                </li>

                                <li>
                                    <a href="terms.html">Terms & Condition</a>
                                </li>

                                <li>
                                    <a href="privacy.html">Privacy policy</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Portfolio <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="portfolio-3-col.html">Portfolio 3 column</a>
                                </li>

                                <li>
                                    <a href="portfolio-4-col.html">Portfolio 4 column</a>
                                </li>

                                <li>
                                    <a href="portfolio-single-image.html">Portfolio Single Image</a>
                                </li>

                                <li>
                                    <a href="portfolio-single-video.html">Portfolio Single Video</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Blog <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>

                                <li>
                                    <a href="blog-two-col.html">Blog two column</a>
                                </li>

                                <li>
                                    <a href="blog-detail.html">Blog Single Image</a>
                                </li>

                                <li>
                                    <a href="blog-detail-video.html">Blog single video</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>

                        <li><input class="form-control search" placeholder=" Search" type="text"></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--header end-->
        <div ng-view></div>
        <!--footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                        <h1>
                            contact info
                        </h1>
                        <address>
                            <p>
                                <i class="fa fa-home pr-10">
                                </i>
                                Address: No.XXXXXX street
                            </p>
                            <p>
                                <i class="fa fa-globe pr-10">
                                </i>
                                Mars city, Country
                            </p>
                            <p>
                                <i class="fa fa-mobile pr-10">
                                </i>
                                Mobile : (123) 456-7890
                            </p>
                            <p>
                                <i class="fa fa-phone pr-10">
                                </i>
                                Phone : (123) 456-7890
                            </p>
                            <p>
                                <i class="fa fa-envelope pr-10">
                                </i>
                                Email :
                                <a href="javascript:;">
                                    supportexample.com
                                </a>
                            </p>
                        </address>
                    </div>
                    <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <h1>
                            latest tweet
                        </h1>
                        <div id="owl-slide">
                            <div class="tweet-box">
                                <i class="fa fa-twitter">
                                </i>
                                <em>
                                    Please follow
                                    <a href="javascript:;">
                                        example
                                    </a>
                                    for all future updates of us!
                                    <a href="javascript:;">
                                        twitter.com/acme
                                    </a>
                                </em>
                            </div>
                            <div class="tweet-box">
                                <i class="fa fa-twitter">
                                </i>
                                <em>
                                    Please follow
                                    <a href="javascript:;">
                                        example
                                    </a>
                                    for all future updates of us!
                                    <a href="javascript:;">
                                        twitter.com/acme
                                    </a>
                                </em>
                            </div>
                            <div class="tweet-box">
                                <i class="fa fa-twitter">
                                </i>
                                <em>
                                    Please follow
                                    <a href="javascript:;">
                                        example
                                    </a>
                                    for all future updates of us!
                                    <a href="javascript:;">
                                        twitter.com/acme
                                    </a>
                                </em>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                            <h1>
                                Our Company
                            </h1>
                            <ul class="page-footer-list">

                                <li>
                                    <i class="fa fa-angle-right">
                                    </i>
                                    <a href="about.html">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right">
                                    </i>
                                    <a href="faq.html">
                                        Support
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right">
                                    </i>
                                    <a href="service.html">
                                        Service
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right">
                                    </i>
                                    <a href="privacy-policy.html">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right">
                                    </i>
                                    <a href="career.html">
                                        We are Hiring
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right">
                                    </i>
                                    <a href="terms.html">
                                        Term & condition
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">

                        <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
                            <h1>
                                Text Widget
                            </h1>
                            <p>
                                This is a text widget.Lorem ipsum dolor sit amet.
                                This is a text widget.Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </footer>
        <!-- footer end -->
        <!--small footer start -->
        <footer class="footer-small">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 pull-right">
                        <ul class="social-link-footer list-unstyled">
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".3s"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".4s"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".6s"><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".7s"><a href="#"><i class="fa fa-github"></i></a></li>
                            <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright">
                            <p>&copy; Copyright - Acme Theme by cosmic.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--small footer end-->
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../../Template/js/jquery.js">
        </script>
        <script src="../../Template/js/bootstrap.min.js">
        </script>
        <script type="text/javascript" src="../../Template/js/hover-dropdown.js">
        </script>
        <script defer src="../../Template/js/jquery.flexslider.js">
        </script>
        <script type="text/javascript" src="../../Template/assets/bxslider/jquery.bxslider.js">
        </script>

        <script src="../../Template/js/jquery.easing.min.js">
        </script>
        <script src="../../Template/js/link-hover.js">
        </script>


        <!--common script for all pages-->
        <script src="../../Template/js/common-scripts.js">
        </script>


        <script src="../../Template/js/wow.min.js">
        </script>
        <script>
            wow = new WOW(
                {
                    boxClass: 'wow',      // default
                    animateClass: 'animated', // default
                    offset: 0          // default
                }
            )
            wow.init();
        </script>

    </body>
</html>

